.container {
  padding: 0 2rem;
}

.resultCount {
  margin-top: 1em;
  width: 100%;
  font-weight: bold;
  text-align: right;
}

.query  {
  padding: 4px;
  font-size: 16px;
  width: 500px;
  max-width: 75%;
  font-family: Courier, sans-serif;
  letter-spacing: -1px;
}

.main {
  margin: 0 auto;
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 800px;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin-top: 2rem;
  margin-bottom: 0;
  line-height: 1.5;
  font-size: 1.5rem;
  max-width: 100%;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.githubCorner:hover .octo-arm{animation:octocat-wave 560ms ease-in-out}@keyframes octocat-wave{0%,100%{transform:rotate(0)}20%,60%{transform:rotate(-25deg)}40%,80%{transform:rotate(10deg)}}@media (max-width:500px){.githubCorner:hover .octo-arm{animation:none}.githubCorner .octo-arm{animation:octocat-wave 560ms ease-in-out}}

.install {
  position: relative;
  cursor: pointer;
  border: 1px dotted gray;
  border-radius: 10px;
  padding: 6px 34px 10px 14px;
}

.install:hover {
  opacity: 0.8;
}

.install:active {
  text-decoration: underline;
}

.install code {
  font-size: 14px;
}

.copyBtn {
  height: 14px;
  opacity: 0.8;
  margin-left: 8px;
  position: absolute;
  top: 10px;
}


